{ 
	"success":$!success,
        "message":"$!message",
	"totalCount":$!totalCount,
	"Data": [
		#foreach( $!broker in $!brokers ){
                        "id" : "$!broker.getId()",
                        "iconName" : "$!broker.getIconName()",
			"name" : "$!broker.getName()",
			"code" : "$!broker.getCode()",
		}	
		#if ($velocityCount < $!brokers.size() - 1),#end
		#end
	]
}