{ 
	"success":$!success,
        "message":"$!message",
	"aries" : "$!horoscope.aries",
        "aries_result" : "$!horoscope.aries_result.split('-')[0]",
        "aries_id" : "$!horoscope.aries_result.split('-')[1]",
"taurus" : "$!horoscope.taurus",
        "taurus_result" : "$!horoscope.taurus_result.split('-')[0]",
        "taurus_id" : "$!horoscope.taurus_result.split('-')[1]",
"gemini" : "$!horoscope.gemini",
        "gemini_result" : "$!horoscope.gemini_result.split('-')[0]",
        "gemini_id" : "$!horoscope.gemini_result.split('-')[1]",
"cancer" : "$!horoscope.cancer",
        "cancer_result" : "$!horoscope.cancer_result.split('-')[0]",
        "cancer_id" : "$!horoscope.cancer_result.split('-')[1]",
"leo" : "$!horoscope.leo",
        "leo_result" : "$!horoscope.leo_result.split('-')[0]",
        "leo_id" : "$!horoscope.leo_result.split('-')[1]",
"vigro" : "$!horoscope.vigro",
        "vigro_result" : "$!horoscope.vigro_result.split('-')[0]",
        "vigro_id" : "$!horoscope.vigro_result.split('-')[1]",
"libra" : "$!horoscope.libra",
        "libra_result" : "$!horoscope.libra_result.split('-')[0]",
        "libra_id" : "$!horoscope.libra_result.split('-')[1]",
"scorpio" : "$!horoscope.scorpio",
        "scorpio_result" : "$!horoscope.scorpio_result.split('-')[0]",
        "scorpio_id" : "$!horoscope.scorpio_result.split('-')[1]",
"sagittarius" : "$!horoscope.sagittarius",
        "sagittarius_result" : "$!horoscope.sagittarius_result.split('-')[0]",
        "sagittarius_id" : "$!horoscope.sagittarius_result.split('-')[1]",
"capricon" : "$!horoscope.capricon",
        "capricon_result" : "$!horoscope.capricon_result.split('-')[0]",
        "capricon_id" : "$!horoscope.capricon_result.split('-')[1]",
"aquarius" : "$!horoscope.aquarius",
        "aquarius_result" : "$!horoscope.aquarius_result.split('-')[0]",
        "aquarius_id" : "$!horoscope.aquarius_result.split('-')[1]",
"pisces" : "$!horoscope.pisces",
        "pisces_result" : "$!horoscope.pisces_result.split('-')[0]",
        "pisces_id" : "$!horoscope.pisces_result.split('-')[1]"

	
}