{ 
	"success":$!success,
        "message":"$!message",
	"totalCount":$!totalCount,
	"Data": [  
		#foreach( $!horoscope in $!horoscopes ){
                        "id" : "$!horoscope.id",
                         "moonPlace": $!horoscope.moonPlace,
                        "sunPlace": $!horoscope.sunPlace,
                        "jupiterPlace": $!horoscope.jupiterPlace,
                        "venusPlace": $!horoscope.venusPlace,
                        "marsPlace": $!horoscope.marsPlace,
                        "saturnPlace": $!horoscope.saturnPlace,
                        "mercuryPlace": $!horoscope.mercuryPlace,
                        "moonType": "$!horoscope.moonType",
                        "aries": "$!horoscope.aries",
                        "tarus": "$!horoscope.tarus",
                        "gemini": "$!horoscope.gemini",
                        "cancer": "$!horoscope.cancer",
                        "leo": "$!horoscope.leo",
                        "libra": "$!horoscope.libra",
                        "virgo": "$!horoscope.virgo",
                        "scorpio": "$!horoscope.scorpio",
                        "sagittarius": "$!horoscope.sagittarius",
                        "capricorn": "$!horoscope.capricorn",
                        "aquarius": "$!horoscope.aquarius",
                        "pisces": "$!horoscope.pisces"

                  }      
		#if ($velocityCount < $!horoscopes.size() - 1),#end
		#end
	]
}