{ 
	"success":$!success,
        "message":"$!message",
	"totalCount":$!totalCount,
	"Data": [
		#foreach( $!player in $!players ){
                        "id" :  "$!player.getId()",
			"sunsign" : "$!player.getSunSignName()",
                        "sunsignId" : $!player.getSunSign(),
                        "name" : "$!player.getName()",
                        "sName" : "$!player.getShortName()",
                        "type" : $!player.getType(),
                        "typeImg" : "$!player.getPlayerTypeImg()",
                        "form": $!player.getForm(),
                        "capacity" :  $!player.getLevel(),
                        "iconName" : "$!player.getIconName()",
                        "teamId"  : "$!player.getTeamId()",
                        "description" : "$!player.getDescription()",
                        "planetId" : $!player.getPlanetId(),
                        "signPoints" : "$!player.getSignPoints()"
                          
		}	
		#if ($velocityCount < $!players.size() - 1),#end
		#end
	]
}