{ 
	"success":$!success,
        "message":"$!message",
	"totalCount":$!totalCount,
	"Data": [
		#foreach( $!playerAstro in $!playerAstroData ){
                        "playerId" :  "$!playerAstro.getPlayerId()",
			"planetId" : $!playerAstro.getPlanetId(),
                        "planetName" :  "$!playerAstro.getPlanetName()",
                        "planetPosition" :  "$!playerAstro.getPlanetPosition()",
                        "planetPositionName" :  "$!playerAstro.getPlanetPositionName()",
                        "planetPositionLord" :  "$!playerAstro.getPlanetPositionLord()",
                        "hScopeResult" :  "$!playerAstro.gethScopeResult()",
                        "dayPoints" :  $!playerAstro.getDayPoints()
                     
                          
		}	
		#if ($velocityCount < $!playerAstroData.size() - 1),#end
		#end
	]
}