{ 
	"success":$!success,
        "message":"$!message",
	"totalCount":$!totalCount,
	"Data": [
		#foreach( $!zSign in $!zSignData ){

                        "friends" :[
                        #foreach( $!gmodel in $!zSign.getGraha().getFriends()){
                                "id" : "$!gmodel.getId()",
                                "name": "$!gmodel.getName()"
                            }
                        #if ($velocityCount < $!zSign.getGraha().getFriends().size() - 1),#end
	                #end    
                        ],
                         "enimes" :[
                        #foreach( $!gmodel in $!zSign.getGraha().getEnemies() ){
                         "id" : "$!gmodel.getId()",
                                "name": "$!gmodel.getName()"
                        }
                           #if ($velocityCount < $!zSign.getGraha().getEnemies().size() - 1),#end
                        #end    
                        ],   
                         "equal" :[
                        #foreach( $!gmodel in $!zSign.getGraha().getEqual() ){
                             "id" : "$!gmodel.getId()",
                                "name": "$!gmodel.getName()"
                        }
                         #if ($velocityCount < $!zSign.getGraha().getEqual().size() - 1),#end
                        #end    
                        ],   
                        "id" : "$!zSign.getId()",
                        "name" : "$!zSign.getDisplayName()",
                         "points" : "$!zSign.getPoints()",
                         "aries": "$!zSign.getPointsArry(0)",
                        "tarus": "$!zSign.getPointsArry(1)",
                        "gemini": "$!zSign.getPointsArry(2)",
                        "cancer": "$!zSign.getPointsArry(3)",
                        "leo": "$!zSign.getPointsArry(4)",
                        "virgo": "$!zSign.getPointsArry(5)",
                        "libra": "$!zSign.getPointsArry(6)",
                        "scorpio": "$!zSign.getPointsArry(7)",
                        "sagittarius": "$!zSign.getPointsArry(8)",
                        "capricorn": "$!zSign.getPointsArry(9)",
                        "aquarius": "$!zSign.getPointsArry(10)",
                        "pisces": "$!zSign.getPointsArry(11)"
                  }      
		#if ($velocityCount < $!zSignData.size() - 1),#end
		#end
	]
}