<?xml version="1.0" encoding="UTF-8"?>
<beans 
    xmlns="http://www.springframework.org/schema/beans" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:amq="http://activemq.apache.org/schema/core"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd 
  http://activemq.apache.org/schema/core http://activemq.apache.org/schema/core/activemq-core.xsd">
 
   
    <bean id="TemplateService" class="com.app1.services.TemplateService" init-method="init" >
        <property name="templateDir" value="/WEB-INF/templates/" />
    </bean>
    
    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="datasource" />
    </bean>
    <bean id="LeagueService" class="com.app1.services.LeagueService"></bean>
    <bean id="LeagueDao" class="com.app1.daos.LeagueDao"></bean>
    <bean id="TeamService" class="com.app1.services.TeamService"></bean>
    <bean id="TeamDao" class="com.app1.daos.TeamDao"></bean>
    <bean id="PlayerService" class="com.app1.services.PlayerService"></bean>
    <bean id="PlayerDao" class="com.app1.daos.PlayerDao"></bean>
    <bean id="MatchService" class="com.app1.services.MatchService"></bean>
    <bean id="MatchDao" class="com.app1.daos.MatchDao"></bean>
     <bean id="HoroscopeService" class="com.app1.services.HoroscopeService"></bean>
    <bean id="HoroscopeDao" class="com.app1.daos.HoroscopeDao"  init-method="init"></bean>
    
    <bean id="datasource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <property name="url" value="jdbc:mysql://localhost:3306/world" />
        <property name="username" value="root" />
        <property name="password" value="sql@123" />
    </bean>
</beans>